@model EmployeeManagementSystem.Models.Employee
@*@inject IEmployeeRepository _empRepository*@
@inject EmployeeManagementSystem.Models.IEmployeeRepository _empRepository

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Department"></label>
        <select class="form-control" asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()"></select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Create</button>
    </div>
    <div class="form-group">
        <p>Total Number of Employee @_empRepository.GetAllEmployee().Count()</p>
    </div>
</form>
