@model IEnumerable<EmployeeManagementSystem.Models.Employee>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Department</td>
            </tr>
        }
    </table>


</div>