@model IEnumerable<EmployeeManagementSystem.Models.Employee>


<div class="card-deck">
    @foreach (var item in Model)
    {
    <div class="card m-3" @*style="width:400px"*@>
        <div>
            <h4 class="card-header">@item.Name</h4>
        </div>
        <img class="card-img-top" src="~/img/img_avatar1.png" alt="Card image" style="height:50%; width:100%">
        <div class="card-footer text-center">
            <a href="#" class="btn btn-primary m-1">View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-primary m-1">Delete</a>
        </div>
    </div>

    }
</div>


